@import "pages/home.scss";
@import "pages/about.scss";
@import "pages/departaments.scss";
@import "pages/doctors.scss"; 
@import "pages/blog-3-colum.scss";
@import "pages/blog-single.scss";
@import "pages/contact.scss";
@import "partials/variables" 