body {
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 30px;
  .preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }
  .preloader.active {
    display: flex;
  }
}

// First Nav starts
.firstNav {
  border-bottom: 1px solid #e7e7e7;
}

.covid {
  p {
    a {
      text-decoration: underline !important;
      font-weight: 600;
      color: #233645;
    }
  }
}

.info-corona {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    border-left: 1px solid #dddddd;
    top: 0;
    right: 97px;
    margin-top: 3px;
  }

  ul {
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #233645;
        font-weight: 700;
      }
    }
  }
}
.social {
  ul {
    li {
      list-style: none;
      a {
        i {
          color: #233645;
        }
      }
    }
  }
}

.item-flex {
  justify-content: flex-end;
}
// first navBar media Query Starts
@media (max-width: 768px) {
  .firstNav {
    display: none;
  }
}

@media (min-width: 769px) {
  .item-flex {
    justify-content: center;
  }
  .covid {
    justify-content: center;
  }
}
// first navBar media query Ends
// First Nav ends
// Second NavBAr Starts
@keyframes navhover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// Second NavBar mediaQuery starts

@media only screen and (max-width: 992px) {
  .nav-holder {
    display: block !important;

    .navbar-nav {
      max-height: 350px;
      overflow: auto;
    }
    .icon-holder {
      display: none !important;
    }
  }

  .navbar-brand {
    position: initial !important;
  }

  .nav-item {
    display: block;
    .nav-link {
      padding: 10px 15px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.185);
      display: flex;
      justify-content: space-between;
      i {
        padding-right: 13px;
        font-size: 18px;
      }
      &:hover {
        color: black !important;
      }
    }
    &:hover {
      .fa-angle-down {
        transform: rotate(0) !important;
      }
    }
    .menu {
      box-shadow: none !important;
      width: 100% !important;
    }
  }
  .icon-holder.formobile {
    display: flex !important;
  }
}
@media only screen and (max-width: 768px) {
  .icon-holder.formobile {
    display: none !important;
  }
  .navbar-brand {
    width: 60% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-holder {
    flex-direction: column-reverse !important;
  }
  .icon-holder {
    justify-content: flex-end;
  }
  .navbar-brand {
    position: absolute;
    top: 1vw;
  }
  a.nav-link {
    padding: 17px 15px !important;
  }
}
// Second NavBar mediaQuery ends
.nav-sticky {
  z-index: 2;
  background-color: white;
  .navbar-toggler {
    border: none;
  }
  .fa.fa-bars {
    font-size: 18px;
    box-shadow: inherit !important;
    color: black !important;
  }
  .navbar-nav {
    .menu {
      display: none;
    }
    .nav-item {
      position: relative;
      &:hover {
        .fa-angle-down {
          transform: rotate(180deg);
          color: #1ebeb6;
          transition: 1s color;
        }
        .menu {
          animation: navhover 1.3s;
          display: block;
        }
      }
    }
    .active {
      color: #1ebeb6 !important;
    }
    .nav-link {
      font-size: 13px;
      letter-spacing: 0.06em;
      padding: 35px 15px;
      color: #333333;
      font-weight: 600;
      &:hover {
        color: #1ebeb6;
      }
    }

    .menu {
      position: absolute;

      left: 0;
      background: #fff none repeat scroll 0 0;
      border: 1px solid transparent;
      border-radius: 2px;
      box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
      padding: 0;
      width: 250px;
      list-style: none;
      z-index: 2;

      li {
        a {
          text-decoration: none;
          color: #333333;
          font-weight: 600;
          font-size: 14px;
          &:hover {
            color: #1ebeb6;
            transition: all 0.5s;
          }
        }
        padding: 10px 15px;
        border-bottom: solid 1px #f5f5f5;
      }
    }
  }
  .icon-holder {
    display: flex;
    .emergency {
      p {
        margin: 0;
      }
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    i {
      margin-right: 15px;
      font-size: 46px;
      color: #1ebeb6;
      line-height: 100px;
    }
  }
  .icon-holder.formobile {
    display: none;
  }
}
// Second navBar ends

// blogSingle section start

#blogSingle {
  padding: 150px 0;
  position: relative;
  text-align: center !important;

  .crumb {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
  }
  h1 {
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .breadcrumb {
    background: transparent none repeat scroll 0 0;

    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;

    li {
      position: relative;
      z-index: 1;
      margin: 0 7px;
      padding: 0 7px;
      a {
        font-family: Inter, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        color: #ffffff;
        transition: all 0.35s ease-in-out;
        text-decoration: none;
        i {
          margin-right: 5px;
        }
        &::after {
          content: "";
          font-family: "themify";
          font-weight: 600;
          color: #ffffff;
          position: absolute;
          right: -13px;
          height: 8px;
          width: 8px;
          border: 2px solid rgba(255, 255, 255, 0.7);
          border-radius: 50%;
          top: 10px;
        }
      }
    }
    li.active {
      color: #dddddd;
      text-decoration: underline;
      font-family: Inter, sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      display: inline-block;
    }
  }
}
// blogSingle section end

// health section start
#health {
  padding-top: 120px;
  padding-bottom: 120px;
  .item {
    box-shadow: 0 0 10px #e7e7e7;
    .img {
      position: relative;
      a {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .post-date {
        position: absolute;
        left: 30px;
        bottom: 30px;
        height: 70px;
        width: 80px;
        background: #1ebeb6;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        padding: 0 20px;
        line-height: 1.3;
        font-weight: 600;
        padding-top: 15px;
        border-radius: 5px 5px 0 5px;
        text-transform: uppercase;
        &::after {
          position: absolute;
          right: 0;
          bottom: -10px;
          content: "";
          border-right: 15px solid #1ebeb6;
          border-top: 0;
          border-bottom: 15px solid transparent;
        }
      }
    }

    .text {
      background: #ffffff;
      padding: 30px;
      .link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        padding-left: 30px;
        margin-bottom: 10px;
        ul {
          margin: 0;
          list-style-type: none;
          padding-left: 0;
          li {
            display: inline-block;
            margin-bottom: 5px;
            position: relative;
            z-index: 1;
            padding-right: 5px;
            a {
              color: #666666;
              font-weight: 500;
              text-decoration: none;
            }
          }
          .drop {
            &::after {
              position: absolute;
              right: -1px;
              bottom: 0;
              content: ",";
              font-weight: 600;
            }
          }
        }
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "\f02c";
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          color: #1ebeb6;
        }
        .meta {
          margin: 0;
          padding: 0;
          border: none;
          li {
            display: inline-block;
            margin-bottom: 5px;
            position: relative;
            z-index: 1;
            padding-right: 5px;
            a {
              color: #666666;
              font-weight: 500;
              text-decoration: none;
              i {
                color: #1ebeb6;
              }
            }
          }
        }
      }
      h4 {
        line-height: 1.3;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 15px;
        color: #233645;
      }
      p {
        color: #666666;
        margin: 0 0 15px;
        text-transform: none;
        font-weight: 400;
      }
      blockquote {
        position: relative;
        z-index: 1;
        border: none;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 30px;
        background: #f7f7f7;
        padding: 50px 30px;
        border-left: 3px solid #1ebeb6;
        font-style: italic;
        padding-top: 100px;
        &::after {
          position: absolute;
          left: 30px;
          content: "\f10d";
          font-family: "Font Awesome 5 Free";
          color: #1ebeb6;
          font-size: 40px;
          top: 50px;
          font-weight: 600;
        }
      }
      ul {
        margin-bottom: 25px;
        margin-top: 25px;
        list-style-type: none;
        padding-left: 0;
        li {
          margin-bottom: 15px;
          color: #232323;
          position: relative;
          z-index: 1;
          padding-left: 18px;
        }
        .after {
          &::after {
            position: absolute;
            left: 0;
            top: 11px;
            content: "";
            background: #666666;
            height: 7px;
            width: 7px;
            border-radius: 50%;
          }
        }
      }
    }

    .post-link {
      margin-top: 15px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        display: inline-block;
        font-weight: 800;
        text-transform: capitalize;
        color: #1ebeb6;
        padding: 8px 30px;
        border: 2px solid;
        border-radius: 30px;

        i {
          margin-right: 3px;
        }
      }
      .second-a {
        text-decoration: none;
        display: inline-block;
        font-weight: 800;
        text-transform: capitalize;
        color: #1ebeb6;
        padding: 8px 30px;
        border: 2px solid;
        border-radius: 30px;

        .second-i {
          margin-left: 3px;
        }
      }
    }
  }

  .post-icon {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .links {
      a {
        text-decoration: none;
        background: #f7f7f7;
        padding: 10px 15px;
        font-size: 14px;
        margin-right: 3px;
        margin-bottom: 5px;
        display: inline-block;
        color: #233645;
        font-family: Inter, sans-serif;
        font-weight: 700;
      }
    }
    .social {
      a {
        display: inline-block;
        margin-left: 15px;
        .fa-facebook-f {
          color: #3b5998;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .fa-pinterest-p {
          color: #bd081c;
        }
        .fa-linkedin-in {
          color: #0077b5;
        }
      }
    }
  }
  .blog-comments {
    margin-top: 40px;
    .comment {
      h4 {
        border-bottom: 1px solid #e2e2e2;
        font-weight: 700;
        margin-bottom: 30px;
        padding-bottom: 25px;
        text-transform: capitalize;
        font-size: 22px;
        color: #233645;
      }
      .comments {
        .first-comment {
          margin-bottom: 50px;
          .profil {
            float: left;
            height: 105px;
            width: 105px;
            img {
              height: 80px;
              width: 80px;
              border: none;
              outline: none;
            }
          }
          .information {
            display: table-cell;
            vertical-align: top;
            .title {
              display: flex;
              align-items: center;
              margin-bottom: 15px;
              font-weight: 700;
              h5 {
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 0;
                color: #233645;
                line-height: 1.2;
                font-family: Inter, sans-serif;
                letter-spacing: 0;
                margin: 0;
              }
              span {
                border-left: 1px solid #e7e7e7;
                padding-left: 15px;
                margin-left: 15px;
                color: #666666;
              }
            }
            p {
              color: #666666;
              margin: 0 0 15px;
              text-transform: none;
              font-weight: 400;
            }
            .reply {
              a {
                text-decoration: none;
                border: 1px solid #e7e7e7;
                color: #002359;
                display: inline-block;
                font-size: 12px;
                margin-top: 5px;
                padding: 1px 10px;
                text-transform: uppercase;
                font-weight: 600;
                i {
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .second-comment {
          margin-bottom: 50px;
          .profil {
            float: left;
            height: 105px;
            width: 105px;
            img {
              height: 80px;
              width: 80px;
              border: none;
              outline: none;
            }
          }
          .information {
            display: table-cell;
            vertical-align: top;
            .title {
              display: flex;
              align-items: center;
              margin-bottom: 15px;
              font-weight: 700;
              h5 {
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 0;
                color: #233645;
                line-height: 1.2;
                font-family: Inter, sans-serif;
                letter-spacing: 0;
                margin: 0;
              }
              span {
                border-left: 1px solid #e7e7e7;
                padding-left: 15px;
                margin-left: 15px;
                color: #666666;
              }
            }
            p {
              color: #666666;
              margin: 0 0 15px;
              text-transform: none;
              font-weight: 400;
            }
            .reply {
              a {
                text-decoration: none;
                border: 1px solid #e7e7e7;
                color: #002359;
                display: inline-block;
                font-size: 12px;
                margin-top: 5px;
                padding: 1px 10px;
                text-transform: uppercase;
                font-weight: 600;
                i {
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .third-comment {
          padding-left: 80px;

          .profil {
            float: left;
            height: 105px;
            width: 105px;
            img {
              height: 80px;
              width: 80px;
              border: none;
              outline: none;
            }
          }
          .information {
            display: table-cell;
            vertical-align: top;
            .title {
              display: flex;
              align-items: center;
              margin-bottom: 15px;
              font-weight: 700;
              h5 {
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 0;
                color: #233645;
                line-height: 1.2;
                font-family: Inter, sans-serif;
                letter-spacing: 0;
                margin: 0;
              }
              span {
                border-left: 1px solid #e7e7e7;
                padding-left: 15px;
                margin-left: 15px;
                color: #666666;
              }
            }
            p {
              color: #666666;
              margin: 0 0 15px;
              text-transform: none;
              font-weight: 400;
            }
            .reply {
              a {
                text-decoration: none;
                border: 1px solid #e7e7e7;
                color: #002359;
                display: inline-block;
                font-size: 12px;
                margin-top: 5px;
                padding: 1px 10px;
                text-transform: uppercase;
                font-weight: 600;
                i {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
      .comments-form {
        margin-top: 50px;
        .title {
          h4 {
            border-bottom: 1px solid #e7e7e7;
            font-weight: 700;
            margin-bottom: 30px;
            padding-bottom: 25px;
            text-transform: capitalize;
            font-size: 22px;
            color: #233645;
            line-height: 1.2;
            font-family: Inter, sans-serif;
            letter-spacing: 0;
          }
        }
        input {
          border-color: #e7e7e7;
          border-image: none;
          border-radius: inherit;
          border-style: none none solid;
          border-width: medium medium 1px;
          box-shadow: inherit;
        }
        .comments {
          margin-top: 20px;
          textarea {
            min-height: 180px;
            padding: 15px;
            border-color: #e7e7e7;
            border-image: none;
            border-radius: inherit;
            border-style: none none solid;
            border-width: medium medium 1px;
            box-shadow: inherit;
          }
        }
        button {
          background: linear-gradient(
            90deg,
            rgba(30, 190, 182, 1) 0%,
            rgba(0, 130, 124, 1) 100%
          );
          color: #ffffff;
          display: inline-block;
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-weight: 700;
          line-height: 25px;
          margin-top: 20px;
          padding: 15px 45px;
          text-transform: uppercase;
          border-radius: 30px;
          border: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  #health {
    .post-link {
      flex-direction: column;
      align-items: center;
      a {
        margin: 5px;
      }
    }
    .post-icon {
      flex-direction: column;
      text-align: center;
    }
    .comments {
      .first-comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px !important;
        .information {
          p {
            text-align: center;
          }
          .reply {
            text-align: center;
          }
        }
      }
      .second-comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px !important;
        .information {
          p {
            text-align: center;
          }
          .reply {
            text-align: center;
          }
        }
      }
      .third-comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px !important;
        .information {
          p {
            text-align: center;
          }
          .reply {
            text-align: center;
          }
        }
      }
    }
  }
}
// health section end

// Footer start

footer {
  background: #001d4c !important;
  .healdi {
    padding-top: 50px;
    padding-bottom: 50px;

    p {
      margin: 0 0 15px;
      text-transform: none;
      font-weight: 400;
    }

    img {
      margin-bottom: 30px;
      max-width: 100%;
    }

    .adress {
      ul {
        list-style-type: none;
        .phone-li {
          margin-top: 30px;
        }
        li {
          .email {
            h5 {
              margin-bottom: 10px;
              font-weight: 500;
              line-height: 1.2;
              font-size: 1.25rem;
            }
            i {
              position: absolute;
              bottom: 32px;
              left: -45px;
            }
          }
        }
      }
    }
  }
}

footer {
  padding-top: 70px;

  .links {
    margin-top: 50px;
    .department {
      h4 {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
        color: white;
      }

      ul {
        padding-left: 20px;
        li {
          margin-bottom: 15px;
          padding-left: 0;

          :hover {
            color: #ffffff;
            transition: all 0.35s ease-in-out;
          }
          color: #96aac1;
          :last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            font-weight: 600;
            color: #96aac1;
          }
        }
      }
    }
    .useful {
      h4 {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
        color: white;
      }

      ul {
        padding-left: 20px;
        li {
          margin-bottom: 15px;
          :hover {
            color: #ffffff;
            transition: all 0.35s ease-in-out;
          }
          color: #96aac1;
          :last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            font-weight: 600;
            color: #96aac1;
          }
        }
      }
    }
  }
}

footer {
  .branches {
    margin-top: 55px;

    background: rgba(255, 255, 255, 0.05);
    padding: 55px 37px 12px;
    border-bottom: 2px solid #1ebeb6;

    .branch {
      ul {
        list-style-type: none;

        li {
          margin-bottom: 20px;
          color: #96aac1;
          :last-child {
            margin: 0;
          }
          b {
            display: block;
            margin-bottom: 5px;
            color: #ffffff;
            font-weight: 900;
          }
        }
      }
    }
  }
}

// Footer end

// Sosial footer start

footer {
  .footer-end {
    background: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    padding-bottom: 0;
    .social {
      text-align: center;
      a {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;

        p {
          padding-right: 20px;
        }
      }
    }
    .copy {
      text-align: center;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

// Sosial footer end
