body {
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 30px;
  .preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }
  .preloader.active {
    display: flex;
  }
}

// First Nav starts
.firstNav {
  border-bottom: 1px solid #e7e7e7;
}

.covid {
  p {
    a {
      text-decoration: underline !important;
      font-weight: 600;
      color: #233645;
    }
  }
}

.info-corona {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    border-left: 1px solid #dddddd;
    top: 0;
    right: 97px;
    margin-top: 3px;
  }

  ul {
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #233645;
        font-weight: 700;
      }
    }
  }
}
.social {
  ul {
    li {
      list-style: none;
      a {
        i {
          color: #233645;
        }
      }
    }
  }
}

.item-flex {
  justify-content: flex-end;
}
// first navBar media Query Starts
@media (max-width: 768px) {
  .firstNav {
    display: none;
  }
}

@media (min-width: 769px) {
  .item-flex {
    justify-content: center;
  }
  .covid {
    justify-content: center;
  }
}
// first navBar media query Ends
// First Nav ends
// Second NavBAr Starts
@keyframes navhover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// Second NavBar mediaQuery starts

@media only screen and (max-width: 992px) {
  .nav-holder {
    display: block !important;

    .navbar-nav {
      max-height: 350px;
      overflow: auto;
    }
    .icon-holder {
      display: none !important;
    }
  }

  .navbar-brand {
    position: initial !important;
  }

  .nav-item {
    display: block;
    .nav-link {
      padding: 10px 15px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.185);
      display: flex;
      justify-content: space-between;
      i {
        padding-right: 13px;
        font-size: 18px;
      }
      &:hover {
        color: black !important;
      }
    }
    &:hover {
      .fa-angle-down {
        transform: rotate(0) !important;
      }
    }
    .menu {
      box-shadow: none !important;
      width: 100% !important;
    }
  }
  .icon-holder.formobile {
    display: flex !important;
  }
}
@media only screen and (max-width: 768px) {
  .icon-holder.formobile {
    display: none !important;
  }
  .navbar-brand {
    width: 60% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-holder {
    flex-direction: column-reverse !important;
  }
  .icon-holder {
    justify-content: flex-end;
  }
  .navbar-brand {
    position: absolute;
    top: 1vw;
  }
  a.nav-link {
    padding: 17px 15px !important;
  }
}
// Second NavBar mediaQuery ends
.nav-sticky {
  z-index: 2;
  background-color: white;
  .navbar-toggler {
    border: none;
  }
  .fa.fa-bars {
    font-size: 18px;
    box-shadow: inherit !important;
    color: black !important;
  }
  .navbar-nav {
    .menu {
      display: none;
    }
    .nav-item {
      position: relative;
      &:hover {
        .fa-angle-down {
          transform: rotate(180deg);
          color: #1ebeb6;
          transition: 1s color;
        }
        .menu {
          animation: navhover 1.3s;
          display: block;
        }
      }
    }
    .active {
      color: #1ebeb6 !important;
    }
    .nav-link {
      font-size: 13px;
      letter-spacing: 0.06em;
      padding: 35px 15px;
      color: #333333;
      font-weight: 600;
      &:hover {
        color: #1ebeb6;
      }
    }

    .menu {
      position: absolute;

      left: 0;
      background: #fff none repeat scroll 0 0;
      border: 1px solid transparent;
      border-radius: 2px;
      box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
      padding: 0;
      width: 250px;
      list-style: none;
      z-index: 2;

      li {
        a {
          text-decoration: none;
          color: #333333;
          font-weight: 600;
          font-size: 14px;
          &:hover {
            color: #1ebeb6;
            transition: all 0.5s;
          }
        }
        padding: 10px 15px;
        border-bottom: solid 1px #f5f5f5;
      }
    }
  }
  .icon-holder {
    display: flex;
    .emergency {
      p {
        margin: 0;
      }
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    i {
      margin-right: 15px;
      font-size: 46px;
      color: #1ebeb6;
      line-height: 100px;
    }
  }
  .icon-holder.formobile {
    display: none;
  }
}
// Second navBar ends
// aboutUs section start

#aboutUs {
  padding: 150px 0;
  position: relative;
  text-align: center !important;

  .crumb {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
  }
  h1 {
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .breadcrumb {
    background: transparent none repeat scroll 0 0;

    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;

    li {
      position: relative;
      z-index: 1;
      margin: 0 7px;
      padding: 0 7px;
      a {
        font-family: Inter, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        color: #ffffff;
        transition: all 0.35s ease-in-out;
        text-decoration: none;
        i {
          margin-right: 5px;
        }
        &::after {
          content: "";
          font-family: "themify";
          font-weight: 600;
          color: #ffffff;
          position: absolute;
          right: -13px;
          height: 8px;
          width: 8px;
          border: 2px solid rgba(255, 255, 255, 0.7);
          border-radius: 50%;
          top: 10px;
        }
      }
    }
    li.active {
      color: #dddddd;
      text-decoration: underline;
      font-family: Inter, sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      display: inline-block;
    }
  }
}
// aboutUs section end

// medicine section start
#videomodal {
  .modal-dialog {
    max-width: 900px;
    .modal-content {
      background: none;
      border: none;
      width: 100%;
      height: 600px;
      .modal-header {
        border: none;
        padding: 0 0 5px 0;
        button {
          color: #fff;
          outline: none;
        }
      }
      iframe {
        height: 506px;
        width: 900px;
      }
    }
  }
}
#medicine {
  background-color: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  .shape {
    opacity: 0.1;
  }
  img {
    border: none;
    outline: none;
    max-width: 100%;
    z-index: 1;
  }
  .shape-img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .shekil {
    position: relative;
    z-index: 1;
    padding-right: 50px;
    margin-bottom: 50px;
    img {
      border: none;
      outline: none;
      max-width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
  }

  .video {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ffffff;
    padding: 50px 30px;
    left: 120px;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .play {
      padding-right: 30px;
      a {
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        padding-left: 5px !important;
        z-index: 50 !important;
        position: relative;
        display: inline-block !important;
        color: #ffffff;
        background-color: #1ebeb6 !important;
        height: 60px;
        width: 60px;
        line-height: 60px;
        i {
          z-index: 1;

          font-size: 22px;
          padding-top: 18px;
        }
        &::before {
          background: #1ebeb6 repeat scroll 0 0;
          height: 68px;
          width: 68px;
          line-height: 68px;
          content: "";
          position: absolute;
          z-index: 0;
          left: -3px;
          top: -5px;
          transform: translateX(-50%) translateY(-50%);
          display: block;
          border-radius: 50%;
          animation: play 1.5s ease-out infinite;
          @keyframes play {
            from {
              transform: scale(1);
              opacity: 1;
            }
            to {
              opacity: 0;
              transform: scale(1.5);
            }
          }
        }
      }
      .youtube-video {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .text {
      h5 {
        font-weight: 600;
        margin-bottom: 15px;
        color: #233645;
      }
      p {
        color: #666666;
        margin: 0 0 15px;
        text-transform: none;
        font-weight: 400;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .video {
      right: 13px;
      bottom: -287px;
      background: #ffffff;
      padding: 50px 30px;
      left: 15px;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
      display: flex;
      align-items: center;
      z-index: 1;
      flex-direction: column !important;
      .text {
        padding-left: 0;
        text-align: center;
        padding-top: 20px;
      }
    }
    .shekil {
      padding-right: 0;
      img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    .place {
      margin-top: 328px;
      .text {
        padding-left: 15px;
        text-align: center;
        ul {
          li {
            justify-content: center;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .place {
      padding-left: 15px;
      margin-top: 50px;
    }
  }

  .text {
    padding-left: 35px;
    h5 {
      text-transform: uppercase;
      color: #1ebeb6;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 25px;
    }
    h2 {
      font-weight: 600;
      margin-bottom: 25px;
    }
    p {
      color: #666666;
      margin: 0 0 15px;
      text-transform: none;
      font-weight: 400;
    }
    ul {
      margin: 0 -15px;
      list-style-type: none;
      li {
        float: left;
        width: 50%;
        padding: 0 15px;
        display: flex;
        align-items: center;
        margin-top: 15px;
        i {
          font-size: 50px;
          margin-right: 20px;
          color: #1ebeb6;
          margin-left: -39px;
        }
        .fa-pills {
          font-size: 50px;
          margin-right: 20px;
          color: #1ebeb6;
          margin-left: -39px;
        }
        #info {
          #healthH5 {
            text-transform: capitalize;
            font-weight: 600;
            font-size: 18px;
            margin: 0;
            color: black;
          }
        }
      }
    }

    a {
      margin-top: 30px;
    }
    .btn-gradient {
      position: relative;
      z-index: 1;
      color: #ffffff !important;
      &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 100%;
        background: linear-gradient(
          90deg,
          rgba(30, 190, 182, 1) 0%,
          rgba(0, 130, 124, 1) 100%
        );
        transition: all 0.35s ease-in-out;
        z-index: -1;
        box-shadow: 0 0 10px rgba(255, 136, 0, 0.5), inset 0 0 1px 1px #1ebeb6;
      }
    }
    .btn-md {
      padding: 15px 25px;
    }
    .btn {
      display: inline-block;
      font-family: Inter, sans-serif;
      font-weight: 700;
      line-height: 25px;
      text-transform: capitalize;
      transition: all 0.35s ease-in-out;
      overflow: hidden;
      border-radius: 5px;
      font-size: 17px;
      i {
        font-size: 14px;
        height: 30px;
        background: #ffffff;
        color: #1ebeb6;
        line-height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .place {
      .text {
        ul {
          li {
            width: 100%;
            margin-top: 25px;
            :first-child {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
// medicine section end
// departmentOur section start
#departmentOur {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7f7f7;
  .services {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
    h4 {
      color: #1ebeb6;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 22px;
    }
    h2 {
      &::before {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        width: 40px;
      }
      display: inline-block;
      font-weight: 600;
      padding-bottom: 20px;
      margin-bottom: 0;
      position: relative;
      text-transform: capitalize;
      letter-spacing: 1px;
      &::after {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: 20px;
        position: absolute;
        width: 5px;
      }
    }
    p {
      margin: 0;
      margin-top: 20px;
      padding: 0 7%;
      color: #666666;
      font-size: 14px;
      text-transform: none;
      font-weight: 400;
    }
  }
  .owl-carousel.myall {
    user-select: none;

    .owl-dots {
      margin-top: 20px !important;
      display: flex;
      justify-content: center;
      align-items: center;

      .owl-dot {
        &:focus {
          outline: none;
        }

        span {
          background-color: white !important;

          display: block;
          height: 20px;
          width: 20px;
          border: 2px solid #cccccc;
          border-radius: 50%;
          margin: 5px;
        }
      }
      .active {
        position: relative;
        z-index: 0;

        &::after {
          content: "";
          height: 5px;
          width: 5px;
          background-color: #1ebeb6;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
    }
    .items {
      text-align: center !important;
      padding: 50px 30px 50px;
      background: #ffffff;
      box-shadow: 0 0 10px #e7e7e7;
      position: relative;
      z-index: 1;

      &:hover .icon::before {
        animation: iconrotate 4s infinite linear;
        @keyframes iconrotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4 {
          font-weight: 600;
          margin-bottom: 35px;
          text-transform: capitalize;
          font-size: 22px;

          line-height: 1.2;
          font-family: Inter, sans-serif;
          letter-spacing: 0;
          margin: 0;
          a {
            margin-top: 15px;
            text-decoration: none;
            font-family: Inter, sans-serif;
            font-weight: 700;
            transition: all 0.35s ease-in-out;
            color: #233645;
          }
        }
        .icon {
          display: inline-block;
          font-size: 45px;
          margin-bottom: 35px;
          margin-top: 35px;
          position: relative;
          z-index: 1;
          color: #ffffff;
          height: 90px;
          width: 90px;
          line-height: 90px;
          &::before {
            position: absolute;
            left: -10%;
            top: -10%;
            content: "";
            height: 120%;
            width: 120%;
            background: url(../images/bone.png);
            z-index: -1;
            border-radius: 50%;
            opacity: 0.3;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 5s;
          }
          &::after {
            position: absolute;
            left: 3%;
            top: 2%;
            content: "";
            height: 95%;
            width: 95%;
            background: #1ebeb6;
            z-index: -1;
            border-radius: 50%;
          }
        }
        p {
          color: #666666;
          margin: 0 0 15px;
          text-transform: none;
          font-weight: 400;
        }
        a {
          margin-top: 15px;
        }
        .btn-theme.border {
          background-color: transparent;
          color: #1ebeb6 !important;
          border: 2px solid #1ebeb6 !important;
          background: #ffffff;
          &:hover {
            background-color: #1ebeb6;
            color: #ffffff !important;
            i {
              color: #1ebeb6 !important;
              background: #ffffff;
            }
          }
          i {
            background: #1ebeb6;
            color: #ffffff;
            transition: all 0.35s ease-in-out;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-left: 0;
            margin-right: 5px;
          }
        }
        .btn.circle {
          border-radius: 40px;
        }
        .btn-sm {
          padding: 10px 25px;
          font-size: 14px;
        }
      }
    }
  }
}

// departmentOur section end
// choseUs section start
#choseUs {
  .bground {
    background-repeat: no-repeat;
    background-position: center center !important;
    background-size: cover !important;
  }
  .info {
    max-width: 720px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;

    .info-box {
      padding: 80px 50px;
      background: #ffffff;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
      position: relative;
      left: -120px;
      border-bottom: 3px solid #1ebeb6;
      h5 {
        color: #1ebeb6;
        text-transform: capitalize;
        font-weight: 600;
        display: inline-block;
        position: relative;
        margin-bottom: 25px;
      }
      h2 {
        margin-bottom: 10px;
        font-weight: 600;
      }
      ul {
        margin: 0;
        list-style-type: none;
        li {
          float: left;
          padding: 0 15px;
          width: 50%;
          margin-top: 20px;
          padding-left: 35px;
          position: relative;
          z-index: 1;
          h5 {
            font-weight: 600;
            margin-bottom: 15px;
            color: #233645;
            line-height: 1.2;
            font-family: Inter, sans-serif;
            letter-spacing: 0;
            margin: 0;
          }
          p {
            margin: 0;
            color: #666666;
            text-transform: none;
            font-weight: 400;
          }
          &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            color: #1ebeb6;
            font-weight: 600;
          }
        }
      }

      a {
        margin-top: 15px;
        display: inline-block;
        i {
          font-size: 14px;
        }
      }

      .btn {
        i {
          height: 30px;
          background: #ffffff;
          color: #1ebeb6;
          line-height: 30px;
          width: 30px;
          border-radius: 50%;
          margin-left: 0;
          margin-right: 5px;
        }
      }
      .btn-gradient {
        position: relative;
        z-index: 1;
        color: #ffffff !important;
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          height: 100%;
          width: 100%;
          background: linear-gradient(
            90deg,
            rgba(30, 190, 182, 1) 0%,
            rgba(0, 130, 124, 1) 100%
          );
          transition: all 0.35s ease-in-out;
          z-index: -1;
          box-shadow: 0 0 10px rgba(255, 136, 0, 0.5), inset 0 0 1px 1px #1ebeb6;
        }
      }
      .btn-md {
        padding: 15px 25px;
      }
      &::after {
        position: absolute;
        right: -120px;
        top: -120px;
        content: "";
        height: 300px;
        width: 300px;
        background-image: url(../images/dotted-shape.png);
        z-index: -1;
        background-repeat: no-repeat;
        opacity: 0.2;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  #choseUs .info .info-box {
    left: 0px;
  }
  #choseUs .container-fluid {
    width: 90% !important;
  }
  .backgroundimagedoctors {
    min-height: 300px;
  }
  #choseUs .bground {
    padding-left: 0 !important;
  }
  #choseUs .info .info-box::after {
    display: none;
  }
  #choseUs .info {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  #choseUs .container-fluid {
    width: 100% !important;
  }
  #choseUs .info {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
  }
  #choseUs .bground {
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 767px) {
  #choseUs {
    .info {
      .info-box {
        ul {
          li {
            width: 100%;
            padding-right: 0;
          }
        }
      }
    }
  }
}

// choseUs section end
// Ourexperts section start
#Ourexperts {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f7f7f7;
  .meet {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
    h4 {
      color: #1ebeb6;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 22px;
      margin-bottom: 15px;
    }
    h2 {
      &::before {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        width: 40px;
      }
      display: inline-block;
      font-weight: 600;
      padding-bottom: 20px;
      margin-bottom: 0;
      position: relative;
      text-transform: capitalize;
      letter-spacing: 1px;
      color: #233645;
      font-size: 2rem;
      &::after {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: 20px;
        position: absolute;
        width: 5px;
      }
    }

    p {
      margin: 0;
      margin-top: 20px;
      padding: 0 7%;
    }
  }

  .card-item {
    margin-bottom: 30px;
    .bg-color {
      background: #ffffff;
      .image {
        position: relative;
        z-index: 1;
        img {
          border: none;
          outline: none;
          max-width: 100%;
        }
        .contact {
          background: linear-gradient(
            90deg,
            rgba(30, 190, 182, 1) 0%,
            rgba(0, 130, 124, 1) 100%
          );
          position: absolute;
          left: 50%;
          bottom: 107px;
          transform: translate(-50%, 0);
          padding: 10px 25px;
          border-radius: 30px;
          ul {
            margin: 0;
            list-style-type: none;
            display: inline-flex;
            position: relative;
            z-index: 1;
            padding: 0 5px;
            .first {
              position: relative;
              // z-index: 1;
              a {
                display: inline-block;
                color: #ffffff;
                transition: all 0.35s ease-in-out;
                text-decoration: none;
                font-family: Inter, sans-serif;
                font-weight: 700;
              }
              &::after {
                position: absolute;
                right: -7px;
                top: 5px;
                content: "";
                height: 18px;
                width: 1px;
                background: rgba(255, 255, 255, 0.7);
              }
            }
            li {
              display: inline-flex;
              margin: 0 5px;
              position: relative;
              z-index: 1;
              padding: 0 5px;
              a {
                display: inline-block;
                color: #ffffff;
                transition: all 0.35s ease-in-out;
                text-decoration: none;
                font-family: Inter, sans-serif;
                font-weight: 700;
              }
            }
          }
        }
        .info {
          padding: 30px;
          padding-top: 50px;
          h5 {
            font-weight: 600;
            margin-bottom: 10px;
            color: #233645;
            line-height: 1.2;
            font-family: Inter, sans-serif;
            letter-spacing: 0;
            margin: 0;
          }
          span {
            color: #1ebeb6;
            text-transform: capitalize;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// Ourexperts section end
// TESTIMONIALS SECTION START
#testimonials {
  .container-fluid {
    padding: 0%;
    height: 100%;
    .row {
      height: 100%;
    }
  }
  .title {
    position: relative;
    z-index: 1;
    height: 100%;
    background: #1ebeb6;
    .text-holder {
      width: 350px;
      float: right;
      margin-top: 208.5px;
    }

    h5 {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 25px;
      position: relative;
      &::before {
        position: absolute;
        left: -2px;
        top: -92px;
        content: "\f10d";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 120px;
        opacity: 0.2;
        color: #ffffff;
      }
    }
    h2 {
      text-transform: capitalize;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 15px;
      line-height: 1.2;
      font-family: Inter, sans-serif;
      letter-spacing: 0;
      margin: 0;
    }
    a {
      margin-top: 15px;
      display: inline-block;
      i {
        font-size: 14px;
      }
    }

    .btn {
      i {
        height: 30px;
        background: #1ebeb6;
        color: #ffffff;
        line-height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-left: 0;
        margin-right: 5px;
      }
    }
    .btn-gradient {
      position: relative;
      z-index: 1;
      color: #ffffff !important;
      &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 100%;
        background: linear-gradient(
          90deg,
          rgba(30, 190, 182, 1) 0%,
          rgba(0, 130, 124, 1) 100%
        );
        transition: all 0.35s ease-in-out;
        z-index: -1;
        box-shadow: 0 0 10px rgba(255, 136, 0, 0.5), inset 0 0 1px 1px #1ebeb6;
      }
    }
    .btn-md {
      padding: 15px 25px;
    }
  }

  .owl-carousel {
    padding-top: 50px;

    .owl-dots {
      margin-top: 20px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 120px;

      .owl-dot {
        &:focus {
          outline: none;
        }

        span {
          background-color: white !important;

          display: block;
          height: 20px;
          width: 20px;
          border: 2px solid #cccccc;
          border-radius: 50%;
          margin: 5px;
        }
      }
      .active {
        position: relative;
        z-index: 0;

        &::after {
          content: "";
          height: 5px;
          width: 5px;
          background-color: #1ebeb6;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
    }
    .item {
      box-shadow: 0 0 10px #e7e7e7;
      padding: 50px 30px;
      background: #ffffff;
      margin: 10px 3px;

      .owl-theme {
        align-items: center;
        margin-bottom: 15px;
        .thumb {
          img {
            border-radius: 50%;
            height: 80px;
            width: 80px;
            margin-right: 15px;
            margin: auto auto 30px;
            border: none;
            outline: none;
            max-width: 100%;
          }
        }
        .bio {
          .h5 {
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 5px;
          }
          span {
            text-transform: uppercase;
            font-size: 12px;
            strong {
              color: #1ebeb6;
              font-weight: 900;
            }
          }
        }
      }
      .info {
        p {
          margin: 0;
          color: #666666;

          text-transform: none;
          font-weight: 400;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  #testimonials {
    .title {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;

      background: #1ebeb6;
      .text-holder {
        float: initial;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;
        margin: 0 !important;
        h5 {
          &::before {
            position: absolute;
            left: -2px;
            top: -92px;
            content: "\f10d";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            font-size: 120px;
            opacity: 0.2;
            color: #ffffff;
          }
        }
      }
    }
    .col-lg-8 {
      background-color: #1ebeb6;
      height: 500px;

      .owl-carousel {
        padding-top: 0 !important;
      }
    }
  }
}

// TESTIMONIALS SECTION END

// Footer start
footer {
  background: #001d4c !important;
  .healdi {
    padding-top: 50px;
    padding-bottom: 50px;

    p {
      margin: 0 0 15px;
      text-transform: none;
      font-weight: 400;
    }

    img {
      margin-bottom: 30px;
      max-width: 100%;
    }

    .adress {
      ul {
        list-style-type: none;
        .phone-li {
          margin-top: 30px;
        }
        li {
          .email {
            h5 {
              margin-bottom: 10px;
              font-weight: 500;
              line-height: 1.2;
              font-size: 1.25rem;
            }
            i {
              position: absolute;
              bottom: 32px;
              left: -45px;
            }
          }
        }
      }
    }
  }
}

footer {
  padding-top: 70px;

  .links {
    margin-top: 50px;
    .department {
      h4 {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
        color: white;
      }

      ul {
        padding-left: 20px;
        li {
          margin-bottom: 15px;
          padding-left: 0;

          :hover {
            color: #ffffff;
            transition: all 0.35s ease-in-out;
          }
          color: #96aac1;
          :last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            font-weight: 600;
            color: #96aac1;
          }
        }
      }
    }
    .useful {
      h4 {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
        color: white;
      }

      ul {
        padding-left: 20px;
        li {
          margin-bottom: 15px;
          :hover {
            color: #ffffff;
            transition: all 0.35s ease-in-out;
          }
          color: #96aac1;
          :last-child {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            font-weight: 600;
            color: #96aac1;
          }
        }
      }
    }
  }
}

footer {
  .branches {
    margin-top: 55px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 55px 37px 12px;
    border-bottom: 2px solid #1ebeb6;

    .branch {
      ul {
        list-style-type: none;

        li {
          margin-bottom: 20px;
          color: #96aac1;
          :last-child {
            margin: 0;
          }
          b {
            display: block;
            margin-bottom: 5px;
            color: #ffffff;
            font-weight: 900;
          }
        }
      }
    }
  }
}

// Footer end

// Sosial footer start

footer {
  .footer-end {
    background: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    padding-bottom: 0;
    .social {
      text-align: center;
      a {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;

        p {
          padding-right: 20px;
        }
      }
    }
    .copy {
      text-align: center;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

// Sosial footer end
