body {
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

body .preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

body .preloader img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .preloader.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstNav {
  border-bottom: 1px solid #e7e7e7;
}

.covid p a {
  text-decoration: underline !important;
  font-weight: 600;
  color: #233645;
}

.info-corona {
  position: relative;
}

.info-corona::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  border-left: 1px solid #dddddd;
  top: 0;
  right: 97px;
  margin-top: 3px;
}

.info-corona ul li {
  list-style: none;
}

.info-corona ul li a {
  text-decoration: none;
  color: #233645;
  font-weight: 700;
}

.social ul li {
  list-style: none;
}

.social ul li a i {
  color: #233645;
}

.item-flex {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .firstNav {
    display: none;
  }
}

@media (min-width: 769px) {
  .item-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .covid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes navhover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navhover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 992px) {
  .nav-holder {
    display: block !important;
  }
  .nav-holder .navbar-nav {
    max-height: 350px;
    overflow: auto;
  }
  .nav-holder .icon-holder {
    display: none !important;
  }
  .navbar-brand {
    position: initial !important;
  }
  .nav-item {
    display: block;
  }
  .nav-item .nav-link {
    padding: 10px 15px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-item .nav-link i {
    padding-right: 13px;
    font-size: 18px;
  }
  .nav-item .nav-link:hover {
    color: black !important;
  }
  .nav-item:hover .fa-angle-down {
    -webkit-transform: rotate(0) !important;
            transform: rotate(0) !important;
  }
  .nav-item .menu {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    width: 100% !important;
  }
  .icon-holder.formobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 768px) {
  .icon-holder.formobile {
    display: none !important;
  }
  .navbar-brand {
    width: 60% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-holder {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .icon-holder {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar-brand {
    position: absolute;
    top: 1vw;
  }
  a.nav-link {
    padding: 17px 15px !important;
  }
}

.nav-sticky {
  z-index: 2;
  background-color: white;
}

.nav-sticky .navbar-toggler {
  border: none;
}

.nav-sticky .fa.fa-bars {
  font-size: 18px;
  -webkit-box-shadow: inherit !important;
          box-shadow: inherit !important;
  color: black !important;
}

.nav-sticky .navbar-nav .menu {
  display: none;
}

.nav-sticky .navbar-nav .nav-item {
  position: relative;
}

.nav-sticky .navbar-nav .nav-item:hover .fa-angle-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #1ebeb6;
  -webkit-transition: 1s color;
  transition: 1s color;
}

.nav-sticky .navbar-nav .nav-item:hover .menu {
  -webkit-animation: navhover 1.3s;
          animation: navhover 1.3s;
  display: block;
}

.nav-sticky .navbar-nav .active {
  color: #1ebeb6 !important;
}

.nav-sticky .navbar-nav .nav-link {
  font-size: 13px;
  letter-spacing: 0.06em;
  padding: 35px 15px;
  color: #333333;
  font-weight: 600;
}

.nav-sticky .navbar-nav .nav-link:hover {
  color: #1ebeb6;
}

.nav-sticky .navbar-nav .menu {
  position: absolute;
  left: 0;
  background: #fff none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
  padding: 0;
  width: 250px;
  list-style: none;
  z-index: 2;
}

.nav-sticky .navbar-nav .menu li {
  padding: 10px 15px;
  border-bottom: solid 1px #f5f5f5;
}

.nav-sticky .navbar-nav .menu li a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-size: 14px;
}

.nav-sticky .navbar-nav .menu li a:hover {
  color: #1ebeb6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-sticky .icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-sticky .icon-holder .emergency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-sticky .icon-holder .emergency p {
  margin: 0;
}

.nav-sticky .icon-holder i {
  margin-right: 15px;
  font-size: 46px;
  color: #1ebeb6;
  line-height: 100px;
}

.nav-sticky .icon-holder.formobile {
  display: none;
}

#blogGrid {
  padding: 150px 0;
  position: relative;
  text-align: center !important;
}

#blogGrid .crumb {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

#blogGrid h1 {
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
}

#blogGrid ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blogGrid .breadcrumb {
  background: transparent none repeat scroll 0 0;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

#blogGrid .breadcrumb li {
  position: relative;
  z-index: 1;
  margin: 0 7px;
  padding: 0 7px;
}

#blogGrid .breadcrumb li a {
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  text-decoration: none;
}

#blogGrid .breadcrumb li a i {
  margin-right: 5px;
}

#blogGrid .breadcrumb li a::after {
  content: "";
  font-family: "themify";
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  right: -13px;
  height: 8px;
  width: 8px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  top: 10px;
}

#blogGrid .breadcrumb li.active {
  color: #dddddd;
  text-decoration: underline;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
}

#Blog {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Blog .fadeInUp {
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation: fadeInUp 1000ms;
          animation: fadeInUp 1000ms;
}

#Blog .card {
  margin-bottom: 30px;
  opacity: 0;
}

#Blog .card .item {
  -webkit-box-shadow: 0 0 10px #e7e7e7;
          box-shadow: 0 0 10px #e7e7e7;
}

#Blog .card .item .img {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#Blog .card .item .img a {
  color: #233645;
  font-weight: 700;
  text-decoration: none;
}

#Blog .card .item .img a img {
  border: none;
  outline: none;
  max-width: 100%;
}

#Blog .card .item .img .post-date {
  position: absolute;
  left: 30px;
  bottom: 30px;
  height: 70px;
  width: 80px;
  background: #1ebeb6;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 0 20px;
  line-height: 1.3;
  font-weight: 600;
  padding-top: 15px;
  border-radius: 5px 5px 0 5px;
  text-transform: uppercase;
}

#Blog .card .item .img .post-date::after {
  position: absolute;
  right: 0;
  bottom: -10px;
  content: "";
  border-right: 15px solid #1ebeb6;
  border-top: 0;
  border-bottom: 15px solid transparent;
}

#Blog .card .item .text {
  background-color: #ffffff;
  padding: 30px;
}

#Blog .card .item .text .link {
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  padding-left: 30px;
}

#Blog .card .item .text .link ul {
  list-style-type: none;
  padding-left: 0;
}

#Blog .card .item .text .link ul .drop::after {
  position: absolute;
  right: -1px;
  bottom: 0;
  content: ",";
  font-weight: 600;
}

#Blog .card .item .text .link ul li {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  padding-right: 5px;
}

#Blog .card .item .text .link ul li a {
  color: #666666;
  font-weight: 500;
  text-decoration: none;
}

#Blog .card .item .text .link::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "\f02c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #1ebeb6;
}

#Blog .card .item .text h4 a {
  line-height: 1.3;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
  color: #233645;
  text-decoration: none;
}

#Blog .card .item .text h4 a:hover {
  color: #1ebeb6;
}

#Blog .card .item .text p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

#Blog .card .item .text .meta {
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
}

#Blog .card .item .text .meta ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

#Blog .card .item .text .meta ul li a {
  font-weight: 600;
  color: #666666;
  text-decoration: none;
}

#Blog .card .item .text .meta ul li a:hover {
  color: #1ebeb6;
}

#Blog .card .item .text .meta ul li a img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 6px;
  border: none;
}

#Blog .card .item .text .meta ul li a i {
  color: #1ebeb6;
}

#Blog .num-area {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  color: #666666;
}

#Blog .num-area nav ul li a {
  display: inline-block;
  padding: 15px 20px;
  margin: 5px;
  margin-bottom: 0;
  border-radius: 10px;
  color: #1ebeb6;
}

#Blog .num-area nav ul li.active a {
  background: #1ebeb6;
  color: #ffffff;
  border-color: transparent;
  border: none;
}

#Blog .num-area .pagination {
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

footer {
  background: #001d4c !important;
}

footer .healdi {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .healdi p {
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

footer .healdi img {
  margin-bottom: 30px;
  max-width: 100%;
}

footer .healdi .adress ul {
  list-style-type: none;
}

footer .healdi .adress ul .phone-li {
  margin-top: 30px;
}

footer .healdi .adress ul li .email h5 {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
}

footer .healdi .adress ul li .email i {
  position: absolute;
  bottom: 32px;
  left: -45px;
}

footer {
  padding-top: 70px;
}

footer .links {
  margin-top: 50px;
}

footer .links .department h4 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  color: white;
}

footer .links .department ul {
  padding-left: 20px;
}

footer .links .department ul li {
  margin-bottom: 15px;
  padding-left: 0;
  color: #96aac1;
}

footer .links .department ul li :hover {
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

footer .links .department ul li :last-child {
  margin-bottom: 0;
}

footer .links .department ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #96aac1;
}

footer .links .useful h4 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  color: white;
}

footer .links .useful ul {
  padding-left: 20px;
}

footer .links .useful ul li {
  margin-bottom: 15px;
  color: #96aac1;
}

footer .links .useful ul li :hover {
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

footer .links .useful ul li :last-child {
  margin-bottom: 0;
}

footer .links .useful ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #96aac1;
}

footer .branches {
  margin-top: 55px;
  background: rgba(255, 255, 255, 0.05);
  padding: 55px 37px 12px;
  border-bottom: 2px solid #1ebeb6;
}

footer .branches .branch ul {
  list-style-type: none;
}

footer .branches .branch ul li {
  margin-bottom: 20px;
  color: #96aac1;
}

footer .branches .branch ul li :last-child {
  margin: 0;
}

footer .branches .branch ul li b {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 900;
}

footer .footer-end {
  background: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  padding-bottom: 0;
}

footer .footer-end .social {
  text-align: center;
}

footer .footer-end .social a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

footer .footer-end .social a p {
  padding-right: 20px;
}

footer .footer-end .copy {
  text-align: center;
}

footer .footer-end .copy a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=blog-3-colum.css.map */